<% include partials/_head %>
<% include partials/_header-inside %>
<div class="container "align="center">
  <div class="col shadow p-3 mb-5 bg-white rounded">
    <h1>Bienvenido <%= user.local.name%> <%=user.local.lastName%> </h1>
  </div>

</div>
