<% include partials/_head %>
<% include partials/_header-inside %>
<div class="container "align="center">
  <div class="row">
    <div class="col shadow p-3 mb-5 bg-white rounded">
      <h1> <%= pocket.name%> </h1>
    </div>
  </div>
  <!--
  <%# if(transferMessage.length>0){ %>
    <div class="alert alert-warning" align="center">
      <%# transferMessage %>
    </div>
  <%# } %>
  -->
  <div class="row" >
    <div class="col-6 shadow p-3 mb-5 bg-white rounded">

    </div>

    <div class="col-6 shadow p-3 mb-5 bg-white rounded" align="center">

    </div>
  </div>
</div>
